.form-content {
  display: flex;
}

.form-left {
  flex-grow: 1;
}

.form-right {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-wrapper:last-of-type {
  margin-bottom: 0;
}

.color-picker {
  display: flex;
}

.color-column {
  display: flex;
  flex-direction: column;
}

.color-button {
  border-width: 0;
  border-radius: 3px;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
}

.color-button.selected {
  border-width: 0.2rem;
  border-color: #000000;
}

.button-wrapper {
  display: flex;
}

.validation-warnings {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.validation-warning {
  color: #ff5c67;
}
