.form-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-left {
  flex: 1 1 12rem;
  min-width: 12rem;
}

.form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 192px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-wrapper:last-of-type {
  margin-bottom: 0;
}

.color-picker {
  display: flex;
  justify-content: center;
}

.color-column {
  display: flex;
  flex-direction: column;
}

.color-button {
  border-width: 0;
  border-radius: 3px;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
}

.color-button.selected {
  border-width: 0.2rem;
  border-color: #000000;
}

.create-button-wrapper {
  margin-top: 0.5rem;
  display: flex;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.validation-warnings {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.validation-warning {
  color: #ff5c67;
}
