.clock-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
}

.clock {
  min-width: 30rem;
  min-height: 30rem;
  position: relative;
  padding: 2rem;
  display: flex;
}

.outer-clock-face {
  position: relative;
  overflow: hidden;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
}

.clock-number {
  position: absolute;
  text-align: center;
  font-weight: 800;
  font-size: 1.1rem;
}

.clock-number.twelve {
  left: 48%;
}
.clock-number.one {
  top: 12%;
  left: 70%;
}
.clock-number.two {
  top: 27%;
  left: 85%;
}
.clock-number.three {
  top: 48%;
  left: 90%;
}
.clock-number.four {
  top: 69%;
  left: 85%;
}
.clock-number.five {
  top: 85%;
  left: 70%;
}
.clock-number.six {
  top: 90%;
  left: 48.5%;
}
.clock-number.seven {
  top: 85%;
  left: 28%;
}
.clock-number.eight {
  top: 69%;
  left: 12%;
}
.clock-number.nine {
  top: 48%;
  left: 7%;
}
.clock-number.ten {
  top: 27%;
  left: 11%;
}
.clock-number.eleven {
  top: 12%;
  left: 27%;
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
  position: absolute;
  background: #bdbdcb;
  width: 3px;
  height: 100%;
  z-index: 0;
  left: 49%;
}
.outer-clock-face .marking.zero {
  background: #555555;
  width: 5px;
}
.outer-clock-face .marking.one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}
.outer-clock-face .marking.two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}
.outer-clock-face .marking.three {
  background: #555555;
  width: 5px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
.outer-clock-face .marking.four {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg);
}
.outer-clock-face .marking.five {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg);
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-color: #ffffff;
  border-width: 2px;
  background: #ddd;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.clock-block-mask {
  width: 101%;
  bottom: 0.5%;
  right: 0.5%;
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.clock-block-mask:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
}

.clock-block-mask.am:after {
  background: conic-gradient(#fff calc(var(--am-progress) * 1%), #0000 0%);
}

.clock-block-mask.pm:after {
  background: conic-gradient(#fff calc(var(--pm-progress) * 1%), #0000 0%);
}
