body {
  color: #3c4754;
}

#title {
  position: absolute;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
}

#title.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.clocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.blocks > div {
  max-width: 30rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.info-button {
  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;
  border: 0;
  font-size: 2rem;
  color: #2660a4;
  padding: 1rem;
  font-weight: 800;

  cursor: pointer;
}
